<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <h1>Bienvenido a tu sitio web</h1>
  <% if (user) { %>
    <p>Hola, <%= user.firstName %>!</p>
    <form action="/users/logout" method="POST">
      <button type="submit">Logout</button>
    </form>
  <% } else { %>
    <a href="/users/login">Login</a> |
    <a href="/users/register">Registrarse</a>
  <% } %>
</body>
</html>
